body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    position: relative;
    max-width: 400px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; /* 배경 이미지 투명도 조절 가능 */
    z-index: -1; /* 뒷 배경에 위치하도록 함 */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.8); /* 빨간색 투명한 배경색 설정 */
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 60px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.number, .operator, .decimal {
    background-color: #ff3333; /* 빨간색 버튼 */
    color: #fff;
}

.number:hover, .operator:hover, .decimal:hover {
    background-color: #e60000; /* 빨간색 버튼에 호버 시 변경 */
}

.clear {
    background-color: #e44d26;
    color: #fff;
}

.clear:hover {
    background-color: #d33a1f;
}
